{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">
    <title>About Myself</title>
    <link href="{% static 'site-3e009507.css' %}" rel="stylesheet">
    <link href="{% static '404-76cad863.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'contact.js' %}" async="true"></script>
</head>

<body class="x404 x404_index">
<div id="barba-wrapper">
    <div class="barba-container">

        <div class="u-center-vertical">
            <div>
                <div class="green">About Myself</div>
                <br><br>
                <div class="console green">&gt;:</div>
                <span class="typed-cursor">|</span>
                <br><br>
                <div class="green"><a href="https://github.com/March13th">Github:March13th</a>
            </div>
                <br><br>
                <div class="green">WeChat:SillyWinner
            </div>
                <br><br>
                <div class="green">
                    <button type="button" class="btn btn-dark"><a href="{% url 'home' %}">BACK TO HOME</a></button>
                </div>

        </div>
    </div>
</div>

</body>
</html>
